<% @surf_breaks.each do |surf| %>
  <p><%= surf.name %>
  <%= link_to "Follow this surf break", user_surf_breaks_path(surf_break_id: surf.id), method: :post %></p>
<% end %> 

<b><p> My surf breaks </b></p>
<% current_user.surf_breaks.each do |s| %>
  <p><%= s.name %>
  <%= link_to "Unfollow this surf break", user_surf_break_path(get_user_surf_break_for(s.id)), method: :delete %></p>
<% end %>  