<% @surf_breaks.each do |surf| %>
  <p><%= surf.name %>
  <%= link_to "Follow this surf break", user_surf_breaks_path(surf_break_id: surf.id), method: :post %></p>
<% end %>  

<p> My surf breaks </p>
<% @surf_breaks.each do |surf| %>  
  <% if current_user == surf.users %>
    <p><%= surf.name %>
  <% end %>
<% end %>   




