<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Good evening, <%= @user.username %><p>
    <p>
      Here are your Squidlist events for the week:
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Enjoy and have a great week!</p>
  </body>
</html>