<h3>What is squidlist?</h3>

Squidlist is a website to help you track good surf days and concerts.  

<h3>How does it work?</h3>

Simply pick the surf breaks and artists you want to track, and you'll be able to to see a list of good surf days and concerts for the next week.  You can also sign up to recieve a weekly email with all your squidlist events.  

<h3>How do you find "good" surf days?</h3>

We currently use surf data from the Magicseaweed API, and display all surf days with a rating of at least 3 stars out of 5.  Checkout <%= link_to "Magicseaweed", "http://www.magicseaweed.com" %> and <%= link_to "Surfline", "http://www.surfline.com" %> for more detailed forecast data.

<h3>Cool idea.  Have you considered....?</h3>

Have feebdack on squidlist?  We're interested in hearing from you!  Drop us a line: contact [at] squidlist [dot] ink


