<script> 
  $(document).ready(function() {
    var _bm_event = {
      name: "Squidlist",
      property_1: "index view",
      property_2: "user: #{current_user.email}"
    }

    var _bm_request = new XMLHttpRequest();
    _bm_request.open("POST", "http://localhost:4000/events.json", true);
    _bm_request.setRequestHeader('Content-Type', 'application/json');
    _bm_request.onreadystatechange = function() {
      // this function runs when the Ajax request changes state.
      // https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest
    };
    _bm_request.send(JSON.stringify(_bm_event));
  } ); 
</script>

  <div class="jumbotron">
    <h1>SquidList</h1>
    <p>Surf, music, and local events</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="md-4">
        <h2>Your SquidList events this week</h2>
        <div class="container marketing">
          <div class="row"> 
            <% @all_events.each do |e| %>
              <%= render e %>
            <% end %>
          </div>
        </div> 
      </div>
    </div>
  </div>  



  
