  <div class="jumbotron">
    <h1>SquidList</h1>
    <p>Surf, music, and local events</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="md-4">
        <h2>Your SquidList events this week</h2>
        <%= render 'surf_breaks/good' %>      
      </div>
    </div>
  </div>      




<!--  render all my SurfBreak cards, that the user has selected -->


  
