  <div class="jumbotron">
    <h1>SquidList</h1>
    <p>Surf, music, and local events</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="md-4">
        <h2>Your SquidList events this week</h2>
        <%= render 'surf_breaks/good' %>    
        
        <% @concerts.each do |concert| %>
          <% if concert.date < Date.today + 7 %>
            <div class="col-lg-4"> 
              <img class="img-circle">
                <%= image_tag(concert.concertpic) %>
              </img> 
              <p><%= link_to concert.event, concert %></p>
              <p><%= concert.venue %></p>
            </div>   
          <% end %>
        <% end %>     
      </div>
    </div>
  </div>      




  
