<script>
  $(document).ready(function() {
    $(".event_object").on("click", function(e) {
      e.preventDefault();
      blocmetrics.track('SURFBREAK', $(this).attr("href"), "<%= current_user.email %>");
      window.location($(this).attr("href"));
    });
  });    
</script>



  <div class="jumbotron">
    <h1>SquidList</h1>
    <p>Surf, music, and local events</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="md-4">
        <h2>Your SquidList events this week</h2>
        <div class="container marketing">
          <div class="row"> 
            <% @all_events.each do |e| %>
              <%= render e %>
            <% end %>
          </div>
        </div> 
      </div>
    </div>
  </div>  



  
