<script>
  $(document).ready(function() {
    $(".event_object").on("click", function(e) {
      blocmetrics.track('LINK', $(this).attr("href"), "<%= @current_user ? @current_user.email : 'not signed in' %>");
      window.location($(this).attr("href"));
    });
  });    
</script>



  <div class="jumbotron">
    <h1>SquidList</h1>
    <p>Surf, music, and local events</p>
  </div>
  <div class="container">
    <% if @all_events.empty? && current_user %>
      <%= link_to "Set you Interests", edit_user_interest_path(current_user.user_interest) %>
    <% elsif @all_events.empty? %>
      <%= link_to "Sign up", new_user_registration_path %> 
    <% else %>   
      <div class="row">
        <div class="md-4">
          <h2>Your SquidList events this week</h2>
          <div class="container marketing">
            <div class="row"> 
              <% @all_events.each do |e| %>
                <%= render e %>
              <% end %>
            </div>
          </div> 
        </div>
      </div>
    
    <% end %>
  </div>  



  
