<h1>Welcome to Squidlist!</h1>
<p>Your Interests:</p>

<p><%= @user_interest.surfing? ? "Surfing" : " " %></p>
<p><%= @user_interest.concerts? ? "Concerts" : " " %></p>
<p><%= @user_interest.free_events? ? "Free Events" : " " %></p>









