<h3>Tell us more:</h3>

<% if @user_interest.surfing == true %>
  <p> Select your surfbreaks </p>
<% end %>   

<% if @user_interest.concerts == true %>
  <p> Enter your songkick id so we can track your favorite bands</p>
<% end %>   

<% if @user_interest.free_events == true %>
  <p> What free events are you interested in? </p>
<% end %>   