<div class="container">
  <div class="row">
    <div class="col=md-4"> 
      <h2><%= link_to @surf_break.name, @surf_break.mslink %></h2> 
      <% @forecasts.each do |f| %>
        <div class="media">
          <p><%= f.date.strftime("%B %d, %Y") %></p>
          <p>Quality: <%= f.quality %></p>
          <p>Height: <%= f.height %></p>
        </div>  
      <% end %>
    </div>  
  </div>  
</div>
